/* cream #e7d7c1 */
/* dark green #00241b */
/* cinnamon #49111c */
/* brown #8a716a */

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Montserrat:wght@300&family=Scheherazade+New&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	background-color: #e7d7c1;
}

header, main, footer {
	background-color: white;
	margin: auto;
	max-width: 85vw;
	min-width: 300px;
}

img {
	width: 100%;
}

figure {
	margin: 2em;
	padding: 1.5em;
	border: 10px solid #49111c;
	border-radius: 30px;
	background-color: #e7d7c1;
}
figure img {
	border-radius: 30px;
}
figcaption {
	color: #49111c;
	margin-left: 2em;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}

blockquote {
	color: #49111c;
	border-radius: 15px;
	border-left: 10px solid #49111c;
	margin: 0 10em;
	padding: 1em;
	padding-left: 2em;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
	/*background-color: #e7d7c1;*/
}

hr {
	color: #00241b;
	border: transparent;
	border-top: 5px dotted #00241b;
	margin: 0 3em 0 5em;
}
hr::before {
	position: relative;
	top: -30px;
	left: -35px;
	content: '🙠';
	font-size: 2em;
}

p {
	color: #00241b;
	font-family: 'Montserrat', sans-serif;
	margin: 0 5em;
	padding: 1em;
}

h1 {
	color: #49111c;
	font-family: 'Festive', cursive;
	font-size: 4em;
	margin-left: 1em;
	padding-left: 0.3em;
}

h2 {
	color: #00241b;
	font-family: 'Montserrat', sans-serif;
	margin-left: 3em;
	padding: 1em;
}

h3 {
	color: #49111c;
	font-family: 'Festive', cursive;
	font-size: 2em;
	margin-left: 1.5em;
	padding: 1em 0 0 1em;
}

h4 {
	color: #00241b;
	font-family: 'Montserrat', sans-serif;
	margin-left: 4em;
	padding-left: 1em;
}

@media screen and (min-width: 900px) {
	header, main, footer {
		max-width: 65vw;
		margin-left: 5em;
	}
}